@media screen and (max-width: 1200px) {
  .main-header {
    .navigation {
      padding: 0 20px;
      .nav-button {
        display: block;
      }
      .nav-items {
        width: 100%;
        height: 100vh;
        position: fixed;
        overflow: hidden;
        left: -100%;
        top: 0;
        @include Flex;
        z-index: 2;
        text-align: center;
        justify-content: center;
        background-color: #333;
        flex-direction: column;
        transition: all 0.5s;
        gap: 5rem;
        li {
          width: 100%;
        }
        a {
          font-size: 2rem;
          color: #fff;
        }
        .btn {
          font-size: 2rem;
        }
      }
    }
  }
  .meal {
    .meal-section {
      padding: 0 20px;
    }
  }
  .feature {
    .feature-img {
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  .food-ai {
    .blog {
      flex-direction: column;
      .card {
        width: 80%;
      }
    }
    .see-btn {
      margin-top: 50px;
    }
  }
  .testmonials {
    .test {
      .recipe-box {
        .test-img {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
  .pricing {
    .pricing-card {
      gap: 20px;
      .card {
        width: 50%;
      }
    }
  }
  .fooder {
    .fooder-text {
      img {
        width: 12rem;
      }
    }
  }
  .login-page {
    .login {
      .login-text {
        .login-buttons {
          gap: 20px;
        }
      }
    }
    .login-img {
      display: none;
    }
  }
}
@media screen and (max-width: 900px) {
  .container {
    padding: 0 2rem;
  }
  .meal {
    .meal-section {
      display: inherit;
      .hero {
        .healthy-meal {
          h2 {
            font-size: 2.6rem;
          }
          button {
            margin-bottom: 20px;
          }
        }
      }
      .hero-img {
        display: none;
      }
    }
  }
  .how {
    .app {
      display: flex;
      flex-direction: column;
      .app-text {
        width: 100%;
      }
      .responsive-app {
        order: 2;
      }
      .circle {
        flex-direction: column;
        margin-top: 12rem;
        position: relative;
        width: 100%;
        .app-img {
        }
        img {
          position: absolute;
          height: 120%;
          width: 100%;
          z-index: 1;
          top: -40px;
          left: 0px;
        }
      }
    }
  }
  .food-ai {
    .blog {
      .card {
        width: 100%;
      }
    }
  }
  .testmonials {
    .test {
      flex-direction: column;
      .recipe-box {
        width: 100%;
        .test-img {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      .try-it {
        width: 100%;
        padding: 0 2rem;
        h2 {
          padding-top: 20px;
        }
        .try-it-img {
          .gallery {
            align-items: inherit;
          }
        }
      }
    }
  }
  .pricing {
    .subscription {
      flex-wrap: wrap;
      gap: 30px;
    }
    .pricing-card {
      flex-direction: column;
      .card {
        width: 100%;
        p::before {
          padding-left: 16px;
        }
      }
    }
  }
  .login-page {
    .login {
      flex-direction: column;
      .login-text {
        padding: 20px;
        h2 {
          font-size: 30px;
          line-height: 36px;
        }
        p {
          font-size: 16px;
          line-height: 22px;
        }
        .login-buttons {
          flex-direction: column;
        }
      }
    }
  }
  .fooder {
    .fooder-text {
      flex-wrap: wrap;
      gap: 30px;

      .text {
        width: 100%;
      }
    }
  }
}
